body{
    background-color: #000;
}
h1{
    text-align: center;
    color: #d1d1d1;
}
#main-row{
    margin: 15px;
}
footer{
    text-align: center;
    color: #d1d1d1;
}
.explanationText{
    color: #d1d1d1;S
}

input{
    margin: 10px;
}